<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	
    <system.serviceModel>
		<services>
			<service name="RoutingServer.RoutingWithBikes">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="RoutingServer.IRoutingWithBikesSOAP">
				</endpoint>
				<endpoint address="http://localhost:8080/RoutingWithBikes/REST"
						 binding="webHttpBinding"
						 contract="RoutingServer.IRoutingWithBikesREST"
						 behaviorConfiguration="restBehavior"/>

				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/RoutingWithBikes/SOAP"/>
					</baseAddresses>
				</host>
			</service>
		</services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProxyService" 
						 maxBufferSize="2147483647"
						 maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ProxyService/ProxyService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyService"
                contract="ProxyService.IProxyService" name="BasicHttpBinding_IProxyService" />
        </client>
	    <behaviors>
         <serviceBehaviors>
           <behavior>
				   <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/RoutingWithBikes/SOAP"/>
				   <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
		<endpointBehaviors>
			<behavior name="restBehavior">
				<webHttp helpEnabled="true"
      					automaticFormatSelectionEnabled="true"
					 defaultOutgoingResponseFormat="Json" />
			</behavior>
		</endpointBehaviors>
       </behaviors>
    </system.serviceModel>
</configuration>