body {
    display: grid;
    grid-template: auto 1fr auto / 250px 1fr;
}

#sideMenu {
    display: none;
}

app-header,
app-footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: black;
}

aside {
    border-right: 2px black solid;
    padding: 30px 20px;
    position: relative;
    box-sizing: border-box;
}

aside > h2 {
    font-size: 24px;
    margin: 15px 0;
}

main {
    height: calc(100vh - 130px);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    gap: 20px; /* space between them */
    max-width: 900px;
    margin: 20px auto;

}

main address-input {
    position: relative;
}

@media screen and (max-width: 1100px) {
    #sideMenu {
        position: fixed;
        top: 0;
        right: -360px;
        width: 250px;
        height: 100vh;
        background: #f9f7f3;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        z-index: 1200;
    }

    #sideMenu nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 50px;
    }

    #sideMenu nav a {
        text-decoration: none;
        font-size: 18px;
        color: #000;
    }

    #sideMenu #mobileAside {
        margin-top: auto;
        text-align: center;
    }

    #sideMenu #mobileAside h2 {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }

    #sideMenu #mobileAside ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #sideMenu #mobileAside ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #3b4cca;
    }

    #sideMenu #mobileAside ul li a:hover {
        text-decoration: underline;
    }

    #fullscreenaAside,
    #headerNav {
        display: none;
    }

    #divParent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 45px;
        height: 35px;
        position: fixed;
        top: 15px;
        right: 15px;
        cursor: pointer;
        z-index: 1500;
    }

    .divChildren {
        width: 45px;
        height: 8px;
        border-radius: 50px;
        background-color: black;
        position: relative;
    }

    @keyframes popOut {
        from {
            right: -360px;
        }
        to {
            right: 0;
        }
    }

    @keyframes popIn {
        from {
            right: 0;
        }
        to {
            right: -360px;
        }
    }
    .popOutAnim {
        animation: 1s ease both popOut;
    }

    .popInAnim {
        animation: 1s ease both popIn;
    }

    @keyframes Xbar1 {
        from {
            transform: rotate(0);
            top: 0;
        }

        to {
            transform: rotate(45deg);
            top: 12px;
        }
    }

    @keyframes Xbar2 {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes Xbar3 {
        from {
            transform: rotate(0);
            top: 0;
        }

        to {
            transform: rotate(-45deg);
            top: -12px;
        }
    }
    @keyframes bar1 {
        from {
            transform: rotate(45deg);
            top: 12px;
        }

        to {
            transform: rotate(0);
            top: 0;
        }
    }

    @keyframes bar2 {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes bar3 {
        from {
            transform: rotate(-45deg);
            top: -12px;
        }

        to {
            transform: rotate(0deg);
            top: 0;
        }
    }
    #divParent.X div:nth-child(1) {
        animation: 250ms linear both Xbar1;
    }

    #divParent.X div:nth-child(2) {
        animation: 250ms linear both Xbar2;
    }

    #divParent.X div:nth-child(3) {
        animation: 250ms linear both Xbar3;
    }

    #divParent.normal div:nth-child(1) {
        animation: 250ms linear both bar1;
    }

    #divParent.normal div:nth-child(2) {
        animation: 250ms linear both bar2;
    }

    #divParent.normal div:nth-child(3) {
        animation: 250ms linear both bar3;
    }
}
